* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* border: 1px solid black; */
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
    background-color: #ffffff;
    border: 1px solid black;
    align-items: center;
}

header img {
    height: 70px;
    width: 70px;
    margin: auto 20px;
}

header h1 {
    width: 100%;
    height: 50px;
    line-height: 50px;
}

header a {
    min-width: 150px;
    height: 50px;
    line-height: 50px;
    margin: auto 10px;
    text-align: center;
    text-transform: uppercase;
}

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(rgb(234, 230, 255), rgb(255, 255, 255)) no-repeat;
}

main {
    max-width: 1200px;
    
    margin: 0 auto;
    height: calc(100vh - 101px);
    display: flex;
    flex-flow: column nowrap;

}
article{
    flex: 1;
    /* border: 1px solid black;
    background-color: azure; */
}

form {
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
}

fieldset {
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 50px;
}

fieldset * {
    padding: 10px;
    flex: 1;
    margin: 2px;

}

fieldset button {
    margin-top: 30px;
}

footer {
    border: 1px solid black;
    width: 100%;
    min-height: 100px;
    position: absolute;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 20px auto;
    background-color: #ffffff;
    display: none;
}

.cookies {
    display: flex;
    flex-flow: column nowrap;
    max-width: 800px;
    margin: auto;
    align-items: center;
}

.cookies p {
    text-align: center;
}

.cookies button {
    padding: 10px 30px;
    margin-bottom: 10px;
    display: block;
}

.notify{
    position: fixed;   
    border: 1px solid black;
    top: 90px;
    opacity: 0;
    transition: all 1s;
    line-height: 50px;
    background-color: #00ff00;
    max-width:inherit;
    width: 80%;
    left:10%;
    box-shadow: 2px 10px 10px grey;
    border-radius: 10px;
    text-align: center; 
}