article {
    display: flex;
}



.left-aside,
.right-aside {
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    background-color: #EBEDED;
}


.left-aside div {
    max-width: 500px;
    width: 100%;
    padding: 5px 20px;
    display: flex;
    flex-flow: row nowrap;
}

.left-aside .list-item:hover {
    background-color: #717171;
}

.left-aside .list-item span {
    width: 70px;
    padding: 10px;
    text-align: right;
    cursor: pointer;
}

.left-aside .list-item a {
    flex: 1px;
    padding: 10px;
}

.left-aside .list-item input {
    flex: 1px;
    padding: 10px;
    border-radius: 10px;
}

.circle-holder {
    height: 100px;
    width: 10px;
}

.todo-list {
    display: flex;
    flex-flow: column nowrap;
    /* border: 1px solid #CDCDCD; */


}

.todo-list header {
    height: 100px;
    border: 0px none;
    background-image: url('../images/task_management.svg');
    background-color: #EBEDED;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;





}

.article-menu {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;


}

.article-menu button {
    width: 150px;
    height: 50px;
    margin: 7px;
}

.todo-items {
    display: flex;
    flex-flow: column nowrap;
    overflow-y: auto;
    max-height: calc(100vh - 300px)
}

.todo-item {
    display: flex;
    flex-flow: column nowrap;
}

.todo-item-header {
    height: 30px;
    display: flex;
    flex-flow: row nowrap;
    border: 1px solid black;
    margin: 5px;
    background-color: #CDCDCD;

}

.todo-item-header * {
    line-height: 28px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 1px 5px;
    padding: 0 5px
}

.todo-item-header input {
    width: 30px;
    margin: 5px;
}

.type-field {
    flex: 1;
}

.content-field {
    flex: 1;
    background-color: #EBEDED;
    margin: 0 5px;
    padding: 10px 10px 10px 50px;
}